{{ partial "header.html" . }}
<main>
    <div class="container">
        <div class="row">
            <div class="col">
                {{ with .Content }}
                {{.}}
                {{ end }}
            </div>
        </div>
    </div>
</main>
<hr>
{{ partial "footer.html" . }}