{{- $value := index .Params 0 -}}

{{ if $value | eq "100" }}
    <span class="badge badge-success">{{ $value }}%</span>
{{ else if $value | eq "n/a" }}
    <span class="badge badge-success">{{ $value }}</span>
{{ else if $value | eq "0" }}
    <span class="badge badge-danger">{{ $value }}%</span>
{{ else }}
    <span class="badge badge-warning">{{ $value }}%</span>
{{ end }}